html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    background-color: #212121;
    color: #adadad;
    min-height: 100vh;
    padding: 2rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Monaco, monospace;
}

.inner-container {
    width: 100%;
    max-width: 800px;
    padding: 0 1rem;
}

.call-to-action-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.call-to-action {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.call-to-action a {
    margin: 1rem 0;
    width: 100%;
    max-width: 300px;
    text-align: center;
    text-decoration: none;
}

main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    margin-left: 0.5rem;
}

footer a {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: #4dd0e1;
    text-decoration: underline;
}

.title a {
    text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title {
    color: white;
    margin: 0;
    line-height: 1.15;
    font-size: 2rem;
    text-align: center;
}

.subtitle {
    color: whitesmoke;
    margin: 0;
    line-height: 1.5;
    font-size: 1.5rem;
    text-align: center;
}

.description {
    line-height: 1.4;
    font-size: 1rem;
    text-align: center;
}

.description a {
    text-decoration: none;
    color: #4dd0e1;
}

.description a:hover {
    color: white;
}

code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    margin: 1rem;
    padding: 1.5rem;
    width: 100%;
    max-width: 300px;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 12rem;
}

.card:hover,
.card:focus,
.card:active {
    color: #4dd0e1;
}

.card h3 {
    margin: 0 0 1rem 0;
    font-size: 1.2rem;
}

.card p {
    margin: 0;
    font-size: 1.1rem;
    line-height: 1.5;
}

.logo {
    height: 1em;
}

.button-primary {
    color: rgba(33, 33, 33, 1);
    background-color: rgba(77, 208, 225, 1);
    border-radius: 10px;
    padding: 10px;
    font-size: 1.1rem;
    text-align: center;
}

.button-secondary {
    color: rgba(33, 33, 33, 1);
    background-color: rgba(77, 208, 225, 1);
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    text-align: center;
}

.button-primary:active,
.button-primary:focus,
.button-primary:hover {
    background-color: rgba(77, 208, 225, 0.75);
}

.callout {
    font-size: larger;
    background-color: #2e2e2e;
    color: #ffffff;
    border-left: 5px solid yellow;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.calendar,
.projects {
    border-radius: 5px;
    border: 2px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    color: white;
    width: 100%;
    height: auto;
    min-height: 400px;
    background-color: white;
}

@media (min-width: 600px) {
    .grid {
        flex-direction: row;
    }

    .card {
        flex-basis: 45%;
    }
}

@media (min-width: 800px) {
    .calendar,
    .projects {
        width: 100%;
        height: 600px;
    }
}

/* FAQ Section Styling */
.faq {
    margin-bottom: 1rem;
    width: 100%;
    max-width: 800px;
    text-align: left;
}

.faq h4 {
    font-size: 1.2rem;
    color: #4dd0e1;
    margin: 0;
}

.faq p {
    font-size: 1rem;
    color: #adadad;
    margin: 0.5rem 0;
}

.faq summary {
    cursor: pointer;
    padding: 1rem;
    background-color: #2e2e2e;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq summary::marker {
    color: #4dd0e1;
}

.faq summary:hover {
    background-color: #4dd0e1;
    color: #212121;
}

.faq details {
    /* border: 1px solid #4dd0e1; */
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.faq details[open] summary {
    background-color: #4dd0e1;
    color: #212121;
}

.faq details p {
    padding: 0.5rem 1rem;
}
